/**
 * File styles.css.
 * Contains styles for block block_graderanking.
 */
.block_graderanking .graderanking_container {
    scrollbar-width: thin;
}

.block_graderanking .graderanking_container {
    position: relative;
}

.block_graderanking .graderanking_container table th {
    position: sticky;
    top: 0;
    background: white;
}

.block_graderanking .graderanking_container table div.studentname {
    max-height: 1.5em;
    overflow: hidden;
}

.block_graderanking .graderanking_container table tr.me {
    font-weight: bold;
}
