/**
 * File styles.css.
 * Contains styles for block block_graderanking.
 */
.graderanking_container {
    scrollbar-width: thin;
}

.graderanking_container {
    position: relative;
}

.graderanking_container table th {
    position: sticky;
    top: 0;
        background: white;
}

.graderanking_container table div.studentname {
    max-height: 1.5em;
    overflow: hidden;
}

.graderanking_container table tr.me {
    font-weight: bold
}
